    <li>
      <%= game.date %>
      <%= game.home_team %>
      <%= game.home_gf %> - 
      <%= game.away_gf %>
      <%= game.away_team %>
      @<%= game.venue %>
      (<%= game.tournament %>)
    </li>
