    <li>
      <%= game.date %>
      <%= game.home_team %>
      <%= game.home_gf %> - 
      <%= game.away_gf %>
      <%= game.away_team %>
      @<%= game.venue %>
      (<%= game.tournament %>)
    </li>
    <!--  - 5 : 0 アフガニスタン代表 さいたま （W杯予選兼アジア杯予選）    <li>-->
    <!--  2015年11月17日 - 2 : 0 カンボジア代表 プノンペン （W杯予選兼アジア杯予選）-->
    <!--</li>-->
    <!--<li>-->
    <!--  2015年11月12日 - 3 : 0 シンガポール代表 カラン （W杯予選兼アジア杯予選）-->
    <!--</li>-->
    <!--<li>-->
    <!--  2015年10月13日 - 1 : 1 イラン代表 テヘラン （国際親善試合）-->
    <!--</li>-->
    <!--<li>-->
    <!--  2015年10月08日 - 3 : 0 シリア代表 マスカット （W杯予選兼アジア杯予選）-->
    <!--</li>-->
